#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Stop Atheros P2P
Exec=/home/atheros/Atheros-P2P/stop.sh
Name=Stop Atheros P2P
Icon=gnome-panel-launcher
